%h3 Similar Artists
- if @artist.artist_similars.length > 0
  - @artist.artist_similars.each_with_index do |artist, i|
    - name_similar = artist.similar_name.gsub('.','##$').gsub('/','##@')
    - break if i == 20
    %pre
      = link_to artist.similar_name, search_artist_path(name_similar)
