/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;
}

a.title {
  text-decoration:none;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

hr {
  border: 0;
  width: 80%;
  background-color: grey;
  height: 2px;
}

#reviews_header {
  color: red;
  font-weight: bold;
  font-size: 150%
}

#review_user {
  color: royalblue ;
  font-weight: bold;
  position: relative;
  top: 1em;
}

#textareareviews {
  width: 925px;
  height:100px
}

#textareaindex {
  vertical-align: middle;
  width: 600px;
  height:20px;
  position: relative;
  top: -8em;
}

#buttomindex {
  position: relative;
  top: -6em;
}

#videoSong {
  padding: 2ex;
  position: absolute;
}

#player {
  position: absolute;
  top: 22ex;
}

#videoSong {
  position: absolute;
}

#show_albums {
  float: right; 
}

#inputspeech {
  font-size: 25px;
  width: 25px;
  height: 25px;
  cursor:pointer;
  border: none;
  float: right;
  outline: none;
  background: transparent;
}

#reviewspaginate .no_more{
  background-color: white;
  color: gray;
  cursor: default;
}

.info_text{
  color: gray;
  text-align:center;
}
.alt_page_navigation {
  display: block;
  overflow: hidden;
  padding: 0 5px 5px 0;
  float: right; 
}

.alt_page_navigation a {
  float: left;
  color: black;
  font-size:14px;
  line-height:24px;
  font-weight: normal;
  text-align: center;
  border: 1px solid #BBB;
  min-width: 14px;
  padding: 0 7px;
  margin: 0 5px 0 0;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: #efefef; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
} 

.ellipse{
  float: left;
}
.active_page{
	background-color:white !important;
	color:gray !important;
}



