/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px;
}

a.title {
  text-decoration:none;
}

#notice, #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

hr {
  border: 0;
  width: 80%;
  background-color: grey;
  height: 2px;
}

#reviews_header {
  color: red;
  font-weight: bold;
  font-size: 150%
}

#review_user {
  color: royalblue ;
  font-weight: bold;
  position: relative;
  top: 1em;
}

#textareareviews {
  width: 925px;
  height:100px
}

#textareaindex {
  vertical-align: middle;
  width: 600px;
  height:20px;
  position: relative;
  top: -8em;
}

#buttomindex {
  position: relative;
  top: -6em;
}

#videoSong {
  padding: 2ex;
  position: absolute;
}

#player {
  position: absolute;
  top: 22ex;
}

#filter_albums {
  float: right; 
  
}